body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #FFF;
    margin: 40px auto;
}
.about-me-section {
}
.my-projects-section {
}
.my-work-expirience-section {
}
.my-education-section {
}

/* sidebar section */
.sidebar {
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.contacts{
    margin: 50px 0 0 40px;
}
.tech{
    margin: 50px 0 0 40px;
}
.soft{
    margin: 50px 0 0 40px;
}