body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color:#000;
}

.about-me-section {
    background: rgb(238, 238, 189);
    display: flex;
    flex-direction: column;
}

.my-projects-section {
    background: rgb(189, 238, 223);
}

.my-work-expirience-section {
    background: rgb(211, 176, 243);
}

.my-education-section {
    background: rgb(235, 172, 172);
}

